*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 40px;
}

#risultato{
    text-align: center;
    margin: 15px auto;
}

#dati{
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}

h5{
    margin-bottom: 5px;
}